html(lang="de")
	head
		title!= title
		link(rel="shortcut icon", type="image/x-icon", href="/images/favicon.ico")
		link(rel="stylesheet", type="text/css", href="/css/stylesheet.css")
		meta(charset="UTF-8")
		meta(name="description", content="tattyhost is still in working progress")
		meta(name="keywords", content="tattyhost, blombler, www.tattyhost.com, tattyplay, tattyhost.com")
		meta(name="author", content="blombler,tattyplay")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		script(src="/scripts/home/loader.js", type="text/javascript")
	body