html(lang="de", class="noselect")
	head
		title Le Infinitá Network
		link(rel="shortcut icon", type="image/x-icon", href="/images/vale-favicon.ico")
		link(rel="stylesheet", type="text/css", href="/css/rules.css")
		meta(charset="UTF-8")
		meta(name="description", content="Le Infinitá Network")
		meta(name="keywords", content="Le Infinitá Network")
		meta(name="author", content="blombler,Valerieya,SnoW")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		script(src="/scripts/rules/loader.js", type="text/javascript")
	body
		div(id="backimg",style="background-image: url(" + background + ");")
			div(id="welcome")
				//-
				p(class="wmsg") Willkommen auf<br/>Le Infinitá Network
			div(id="content")
				div(id="rules")
					div(id="textofrules")
						p(class="rulestext") Das Ziel dieser Regeln ist es, dass Alle Spaß haben können. 
						p(class="rulestext") Wir sind ein German Only server!!
						p
						p(class="rulestext") Genereller Menschenverstand wird vorausgesetzt.
						p(class="rulestext") Mitspieler ohne sichere Beweise zu verletzen ist verboten. ("RDM")
						p(class="rulestext") Ghosting ist verboten
						p(class="rulestext") Detectives dürfen nichts befehlen
						p(class="rulestext") Ein leicht lesbarer Name is Pflicht
						p(class="rulestext") Das KOS-setzen ohne Beweise ist verboten
						p(class="rulestext") Aufnahmen ohne erlaubnis sind Verboten
						p(class="rulestext") Stillstehen gilt nicht als Beweis. (Traitor-Shop etc)
						p(class="rulestext") RDM und fluchtartiges Verlassen des Servers ist verboten
						p(class="rulestext") Bugabusing ist verboten. (Notfalls per Konsole umbringen)
						p(class="rulestext") Persönliche Beleidigungen und diskriminierende Äußerungen sind verboten
						p(class="rulestext") Der Voicechat darf von Spielern mit Störgeräuschen oder Spielern die noch nicht im Stimmbruch sind nicht genutzt werden
						p(class="rulestext") Propkilling ist verboten.
						p(class="rulestext") AFKler dürfen nur als Traitor umgebracht werden. Sie werden nach einer Minute automatisch zu Zuschauern gemacht
						p(class="rulestext") Unangebrachte Sprays sind verboten
						p(class="rulestext") Zu oftes Missbrauch des Reporttools wird bestraft
						p(class="rulestext") Reports müssen anständig ausgefüllt werden, ansonsten werden sie geschlossen.
						p
						p(class="rulestext") Regelverstöße können vom betroffenen Spieler über das Report-Tool ('!report' im Chat) gemeldet werden

		footer(id="footer")
			p(id="footertext") © BLOMBLER 2018-2021 - Alle Rechte vorbehalten.